#map {
    width: 37.5vw; /* 37.5vw */
    height: 80vh; /* 80.037037vh */
    left: 0vw;
    padding-bottom: 20vh;
    /* margin-bottom: 10vh; */
    border-radius: 10px;
}

body  {
    height: 95vh;
    width: 75vw;

    background-color: #201c1c;
    margin-left: auto;
    margin-right: auto;
}

.header {
    text-align: center;
    color: white;
    font-size: 64pt;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.leaflet-tooltip {
    background-color: rgba(255, 255, 255, 0); 
    border-color: transparent;
}

.text-info {
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    line-height: 1.2;
    /* background-color: rgba(255, 255, 255, 0.5) */
    background-color: transparent;
    /* background-color: rgba(0, 0, 0, 0); */
}
